@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --slate-100: hsl(202, 86%, 94%);
    --slate-300: hsl(203, 41%, 72%);
    --slate-500: hsl(200, 26%, 54%);
    --slate-700: hsl(200, 24%, 40%);
    --slate-900: hsl(202, 55%, 16%);
    --lime: hsl(61, 70%, 52%);
    --red: hsl(4, 69%, 50%);
}
body {
    margin: 0;
    padding: 0;
    background: var(--slate-100);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

#mrtg-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white);
    padding: 2rem 1.25rem;
    gap: 1.25rem;
}

.mrtg-form-header {
    margin-bottom: 0.5rem;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

.btn-clear-form {
    margin-top: 0.5rem;
    border: none;
    background: transparent;
    text-decoration: underline;
    color: var(--slate-700);
    font-family: inherit;
    font-size: 0.95rem;
    font-weight: 500;
    padding: 0;
}

.mrtg-form-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label[for='mrtg-amt'],
label[for='mrtg-term'],
label[for='mrtg-rate'],
.mrtg-type {
    font-weight: 500;
    color: var(--slate-700);
}

#mrtg-amt,
#mrtg-term,
#mrtg-rate {
    position: relative;
    height: 2.75rem;
    width: 100%;
    border: 1px solid var(--slate-700);
    border-radius: 0.25rem;
    padding-inline: 0;
    padding-block: 0;
    background-color: var(--white);
    box-sizing: border-box;
    padding-top: 0.15rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
    font-family: inherit;
    color: var(--slate-900);
}

#mrtg-amt {
    padding-left: 3.5rem;
    padding-right: 1rem;
}

#mrtg-term {
    padding-left: 1rem;
    padding-right: 5.25rem;
}

#mrtg-rate {
    padding-left: 1rem;
    padding-right: 3.5rem;
}

.input-hint {
    position: absolute;
    pointer-events: none;
    height: calc(2.75rem - 2px);
    text-align: center;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--slate-100);
    font-weight: 700;
    color: var(--slate-700);
}

.dollar-hint {
    transform: translate(1px, calc(-2.75rem + 1px));
    width: 2.5rem;
    border-radius: 0.25rem 0 0 0.25rem;
}

.years-hint {
    transform: translate(19px, calc(-2.75rem + 1px));
    width: 4.25rem;
    border-radius: 0 0.25rem 0.25rem 0;
    right: 2.5rem;
}

.percent-hint {
    transform: translate(19px, calc(-2.75rem + 1px));
    width: 2.5rem;
    border-radius: 0 0.25rem 0.25rem 0;
    right: 2.5rem;
}

.mrtg-type {
    margin: 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.radio-button {
    display: flex;
    align-items: center;
    border: 1px solid var(--slate-700);
    height: 2.75rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
}

.selected-radio {
    display: flex;
    align-items: center;
    border: 1px solid var(--lime);
    height: 2.75rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
    background: hsl(61deg 70% 52% / 18%);
}

#mrtg-type-repayment,
#mrtg-type-interest {
    margin: 0 1rem 0 1rem;
}

#mrtg-type-repayment:after,
#mrtg-type-interest:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: var(--white);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1.5px solid var(--slate-700);
}

#mrtg-type-repayment:checked:after,
#mrtg-type-interest:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: var(--lime);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1.5px solid var(--lime);
    box-shadow: inset 0 0 0 3px var(--white);
}

label[for='mrtg-type-repayment'],
label[for='mrtg-type-interest'] {
    font-weight: 700;
    color: var(--slate-900);
}

.btn-calculate {
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    border: none;
    border-radius: 1.5rem;
    background: var(--lime);
    color: var(--slate-900);
    font-weight: 700;
    font-size: 1rem;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-calculator {
    content: url('../assets/images/icon-calculator.svg');
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.sec-results {
    background-color: var(--slate-900);
}

.pre-calc-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    gap: 1rem;
    padding: 2rem;
}

.img-calculator {
    content: url('../assets/images/illustration-empty.svg');
    width: 50%;
}

.pre-calc-results-container > h2,
.results-container > h2 {
    margin: 0;
    font-size: 1.25rem;
}

.pre-calc-results-container > p {
    margin: 0;
    color: var(--slate-300);
    font-size: 0.85rem;
    line-height: 1.2rem;
    padding: 0 0.5rem 0 0.5rem;
    text-align: center;
}

.results-container {
    display: flex;
    flex-direction: column;
    color: var(--white);
    gap: 1rem;
    padding: 2rem 1.25rem;
}

.results-container-desc,
.monthly-repayments,
.total-repayments {
    margin: 0;
    color: var(--slate-300);
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.payments-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background: hsl(202deg 70.48% 8.86%);
    padding: 1.5rem 1rem;
    box-shadow: inset 0px 3px 0px var(--lime);
}

#res-monthly-payments {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--lime);
    margin: 0;
}

.payments-container > hr {
    width: 100%;
    border-top: 1px solid var(--slate-300);
    border-bottom: none;
}

#res-total {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    margin: 0;
}

.hidden-container {
    display: none;
}

.attribution {
    background: var(--slate-900);
    font-size: 11px;
    text-align: center;
    color: var(--slate-300);
    height: 2rem;
    padding-top: 1rem;
    margin-top: -1px;
}
.attribution a {
    /* color: hsl(228, 45%, 44%); */
    color: var(--white);
}
